streamlit
langchain
faiss-cpu
tiktoken
langchain
langchain-community
langchain-google-genai
faiss-cpu
tiktoken
google.genai
google-generativeai
python-dotenv
langchain_huggingface
sentence-transformers
pypdf